<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://redivivus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>redivivus.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>redivivus</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$redivivus</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BDRedivivusEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Simir.WebInterfaceComAuth.Models.BDRedivivusEntities, Simir.WebInterfaceComAuth" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Simir.WebInterfaceComAuth.Models.ApplicationDbContext, Simir.WebInterfaceComAuth" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Simir.Infra.Data.Context.BaseDbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Simir.Infra.Data.Context.BaseDbContext, Simir.Infra.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="connectionSimir" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Simir.Infra.Data.Context.SimirContext, Simir.Infra.Data" MigrationConfiguration="Simir.Infra.Data.Migrations.Configuration, Simir.Infra.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BDSimirConnectionString1" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lexltwjvn4.database.windows.net,1433;Initial Catalog=BDSimir;Persist Security Info=True;User ID=TendenciaConsult@lexltwjvn4;Password=asd123!@#" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BDSimirConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=lexltwjvn4.database.windows.net,1433;Initial Catalog=BDSimir;Persist Security Info=True;User ID=TendenciaConsult@lexltwjvn4;Password=asd123!@#" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BDSimirConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lexltwjvn4.database.windows.net;Initial Catalog=BDSimir;Persist Security Info=True;User ID=TendenciaConsult@lexltwjvn4;Password=asd123!@#" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BDSimirConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=lexltwjvn4.database.windows.net;Initial Catalog=BDSimir;Persist Security Info=True;User ID=TendenciaConsult@lexltwjvn4;Password=asd123!@#" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connectionSimirBKP" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HOM\SQL2014;Initial Catalog=ProjetoSimir;User ID=sa;Password=123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connectionSimirBKP_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=HOM\SQL2014;Initial Catalog=ProjetoSimir;User ID=sa;Password=123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BDEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:lexltwjvn4.database.windows.net,1433;Initial Catalog=BDSimir;Integrated Security=False;User ID=TendenciaConsult@lexltwjvn4;Password=asd123!@#;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BDEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:lexltwjvn4.database.windows.net,1433;initial catalog=BDSimir;integrated security=False;user id=TendenciaConsult@lexltwjvn4;password=asd123!@#;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BDRedivivusEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connectionSimir-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Simir.Infra.Data.Context.BaseDbContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="Simir.Infra.Data.Context.BaseDbContext" />
  </ItemGroup>
</Project>