@model IList<Simir.Application.ViewModels.RegioesAdministrativasCadastradasVM>



    <table id="example" class="table table-hover" cellspacing="0">
        <thead>
            <tr>
                <th style="text-align: center;">@Html.DisplayNameFor(model => model.FirstOrDefault().nmRegiaoAdmin)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].nmRegiaoAdmin)
                    </td>
                    <td>
                        <a href="@Url.Action("Index", "RegioesAdministrativas", new { area = "Configuracao", id = Model[i].RegiaoAdministrativaID })">
                            <div class="btn btn-primary btn-xs"><i class="fa fa-edit "></i></div>
                        </a>

                    </td>
                </tr>
            }


        </tbody>

    </table>

    <script>
        function carregaPagina() {
            $.unblockUI();
        }
        $(window).load(carregaPagina());

        $(document).ready(function () {
            $('#example').dataTable({
                "searching": false,
                "lengthChange": false
            });
        });
    </script>
