
@{
    ViewBag.Title = "Confirmação de esquecimento de senha";
    Layout = "~/Views/Shared/_LayoutNaoLogado.cshtml";
}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-center-block">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Por favor, verifique seu e-mail para trocar sua senha.
                        </p>
                        @*<p class="text-danger">
                            <h4>@ViewBag.Status <a href="@ViewBag.LinkAcesso">Link de acesso</a></h4>
                        </p>*@
                    </div>
                </div>
            </div>
            <div class="panel-back">

            </div>
        </div>
        <!-- End Form Elements -->
    </div>
</div>