@{
    ViewBag.Title = "Não Autorizado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-center-block">
        <div class="panel panel-primary text-center no-boder bg-color-red">
            <div class="panel-body">
                <i class="fa fa-ban fa-5x"></i>
                <p class="main-text">Não autorizado! </p>
            </div>
            <div class="panel-footer back-footer-red">
                Você não está autorizado a acessar essa página.
            </div>
        </div>
    </div>
</div>

