@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}


<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12" style="position: fixed;  bottom: 0; right: 0; width: 40%;">
        <img src="~/Content/img/Engrenagens.svg" class="img-responsive">
    </div>
</div>