@{
    ViewBag.Title = "Manutenção";
}


<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-center-block">
        <div class="panel panel-primary text-center no-boder bg-color-simir">
            <div class="panel-body">

                <i class="fa fa-wrench fa-5x"></i>
                
                <p>Sistema Municipal de Resíduos Sólidos</p>
            </div>
            <div class="panel-footer back-footer-simir">
                <i class="fa fa-exclamation-triangle"></i> PAGINA EM MANUTENÇÃO <i class="fa fa-exclamation-triangle"></i>
            </div>
        </div>
    </div>
</div>
